.body-human {
    background-color: gray;
    color: white;

    .container1 {
        background-image: url("../../Imagens/humanFlight/01.jpg");
        background-repeat: no-repeat;
        height: 100vh;
        background-position: center;
        background-size: cover;

        .gray {
            color: rgb(56, 56, 56);
        }

        .content1 {
            height: 88vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
    
            .title-human {
                font-size: 120px;
            }
    
            .subtitle-human {
                font-size: 30px;
                font-weight: 300;
            }
        }
    
        @media(max-width:811px){
            .content1{
                .title-human{
                    font-size: 80px;
                }
                
            .subtitle-human {
                font-size: 22px;
            }
            }
        }
    
        @media(max-width:520px){
            .content1{
                .title-human{
                    font-size: 50px;
                }
                
                .subtitle-human {
                    font-size: 16px;
            }
            }
        }
    }



    .container2{
        background-color: black;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .content2{
            font-weight: 400;
            font-size: 20px;
            width: 80vw;
            text-align: center;
        }

        @media(max-width:720px){
            .content2{
                font-size: 18px;
            }
        }
    }

    .container3{
        background-image: url(../../Imagens/humanFlight/02.jpg);
        background-repeat: no-repeat;
        height: 100vh;
        background-size: cover;
        background-position: center;
        
        .content3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            padding-left: 55%;

            h5{
                font-size: 16px;
                font-weight: 400;
            }

            h1{
                font-weight: bold;
            }
            
            h6{
                font-weight: 300;
            }
        }

        @media(max-width:720px){
            .content3{
                padding-left: 45%;

            }
        }
    }

    .container4{
        background-image: url("../../Imagens/humanFlight/03.jpg");
        background-repeat: no-repeat;
        height: 100vh;
        background-size: cover;
        background-position: center;

        .content4{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            padding-left: 64px;
        
            h5{
                font-size: 16px;
                font-weight: 400;
            }

            h1{
                font-weight: bold;
            }
            
            h6{
                font-weight: 300;
            }
        
        }

        @media(max-width:520px){
            .content4{
                padding-left: 20px;

            }
        }
    }

    .container5{
        background-image: url(../../Imagens/humanFlight/04.jpg);
        background-repeat: no-repeat;
        height: 100vh;
        background-size: cover;
        background-position: center;
        
        .content5{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            padding-left: 55%;

            h5{
                font-size: 16px;
                font-weight: 400;
            }

            h1{
                font-weight: bold;
            }
            
            h6{
                font-weight: 300;
            }
        }
        @media(max-width:720px){
            .content5{
                padding-left: 40%;

            }
        }
    }

    .container6{
        background-image: url("../../Imagens/humanFlight/05.jpg");
        background-repeat: no-repeat;
        height: 100vh;
        background-size: cover;
        background-position: center;

        .content6{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            padding-left: 64px;
        
            h5{
                font-size: 16px;
                font-weight: 400;
            }

            h1{
                font-weight: bold;
            }
            
            h6{
                font-weight: 300;
            }
        
        }
        @media(max-width:520px){
            .content6{
                padding-left: 20px;

            }
        }
    }

    .container7{
        display: flex;
        height: 80vh;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        button{
            border: solid white 2px;
            border-radius: 5px;
            font-size: 16px;
        }
        
        @media(max-width:521px){
            button{
                margin-top: 5px;
            }
        }
    }

    

}

